<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
		<h1 th:text="${titulo}" class="mb-4"></h1>
		<div class="registro">
			<form th:action="@{/formularioEditar}" th:object="${producto}" method="post">
				<input type="hidden" name="" id="" class="form-control" th:field="*{id}"  >
				<div class="form-row">
					<div class="col-6 mb-3">
						<div class="form-group">
							<label for="nombre">Codigo:</label>
							<input type="text" name="" id="" class="form-control" th:field="*{codigo}" >
						</div>
					</div>
					<div class="col-6 mb-3">
						<div class="form-group">
							<label for="marca">Marca del Producto:</label>
							<input type="text" name="" id="" class="form-control" th:field="*{marca}" >
						</div>
					</div>
					<div class="col-12 mb-3">
						<div class="form-group">
							<label for="nombre">Nombre:</label>
							<input type="text" name="" id="" class="form-control" th:field="*{nombre}" >
						</div>
					</div>
					<div class="col-6 mb-3">
						<div class="form-group">
							<label for="precio">Precio del Producto</label>
							<input type="text" name="" id="" class="form-control" th:field="*{precio}" placeholder="precio">
						</div>
					</div>
					<div class="col-6 mb-3">
						<div class="form-group">
							<label for="stock">stock disponible</label>
							<input type="text" name="" id="" class="form-control" th:field="*{stock}" >
						</div>
					</div>
					<div class="col-6 mb-3">
						<div class="form-group">
							<label for="">Selecciona el tipo de producto</label>
							<select name="" id="" class="form-control"  th:field="*{tipoProd.id}"  >
								<option th:each="tipo: ${listTipProducto}"  th:value="${tipo.id}" th:text="${tipo.nombre}" > </option>
							</select>
						</div>
					</div>
					<div class="col-6 mb-3">
						<div class="form-group">
							<label for="">Selecciona la categoria</label>
							<select name="" id="" class="form-control"  th:field="*{categoria.id}"  >
								<option th:each="catego: ${listarCate}"  th:value="${catego.id}" th:text="${catego.nombre}" > </option>
							</select>
						</div>
					</div>
					<div class="moreDetails">
						<div class="form-group w-100">
							<label for="stock" class="mb-3 mr-4">Modificar Detalles</label>
							<button class="btn-agregar mb-3" disabled type="button">agregar</button>
							<div class="form-group row " id="insertardetalles" th:each="detalle:${detalles}">
                                <input type="hidden"  name="Detalleid[]" th:value="${detalle.id}" class="form-control" placeholder="Ejm:Dimensiones">
								<div class="col-6 mb-3" id="templateDime">
									<input type="text" name="tipoDetalle[]" id="" th:value="${detalle.tipoDetalle}" class="form-control" placeholder="Ejm:Dimensiones">
								</div>
								<div class="col-6 mb-3" id="templatedetalle" >
									<input type="text" name="detalle[]" id="" class="form-control" th:value="${detalle.detalle}"  placeholder="Ejm:180x40">
								</div>
							</div>
						</div>
					</div>

					<div class="col-12 mt-3 d-flex justify-content-center">
						<input type="submit" class="btn btn-primary" th:value="${'enviar'}">
					</div>
				</div>
			</form>
		</div>
</body>
</html>