<!DOCTYPE html>
<html>
<head th:replace="layout/layout :: head">
</head>
<body>

<header th:replace="layout/layout :: header">

</header>

<h1 class="text-primary text-center" th:text="${titulo}"></h1>
	<div class="container">
		<p><a th:href="@{/formularioCategoria}" class="btn btn-success btn-xs">Crear Categoria</a></p>
		<table class="table table-hover">
			<thead>
				<tr>
					<th class="text-center">Código</th>
					<th class="text-center">Nombre</th>
					<th class="text-center">Descripcion</th>
					<th class="text-center">editar</th>
					<th class="text-center">eliminar</th>	
				</tr>
			</thead>
			<tbody>
				<tr th:each="category: ${categoria}">
					<td class="text-center" th:text="${category.id}"></td>
					<td class="text-center" th:text="${category.nombre}"></td>
					<td class="text-center" th:text="${category.descripcion}"></td>
					<td class="text-center"><a
						th:href="@{/formularioCategoria/} + ${category.id}"
						class="btn btn-primary btn-xs">Editar</a></td>
					<td class="text-center">
						<a class="btn btn-danger btn-xs " th:href="@{/eliminarCatagoria/}+${category.id}" onclick="return confirm('Estás seguro que quieres eliminar?');">eliminar</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<footer th:replace="layout/layout :: footer">
	
	</footer>
	
</body>
</html>