<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
  <meta charset="UTF-8">
  <title th:text="'Administración - ' +${titulo}"></title>
  <link rel="stylesheet" th:href="@{/css/all.css}">
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/administracion.css}">
</head>

<body>
  <header th:fragment="header">
    <nav class="navbar navegacion  navbar-dark bg-dark">
      <a class="navbar-brand"th:href="@{/administracion/listarProductos}">
       
      </a>
      <div class="navegacion" >
        <ul class="navbar nav">
          <li class="nav-item">
            <a class="nav-link linkNavBar" href="#">Inicio</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link linkNavBar" th:href="@{/administracion/listarProductos}" >listado</a>
          </li>
          <li class="nav-item">
            <a class="nav-link linkNavBar" th:href="@{/administracion/registrar}" >agregar producto</a>
          </li>
        <form class="form-inline" method="POST" >
          <input class="form-control mr-sm-2" type="text" aria-label="Search" placeholder="Buscar producto">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
        <li class="nav-item">
            <a class="nav-link linkNavBar" th:href="@{/administracion/registrar}" >iniciar sesion</a>
          </li>
      </div>
      </ul>
    </nav>
  </header>
</body>

</html>