@import url("../css/fonts.css");
*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
/**Global**/
.formularioReg{
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column
}
.registro{
    width: 40em;
    height: auto;
}
/***********NAVEGACIÓN PARA ADMINISTRACIÓN*************/
.navegacion{
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    width: 80px;
    height: 80px;
    background-color: white;
}
.logo p{
    margin-bottom: 0px;
}
.logo p:nth-child(1){
    color: black;
    font-size: 18px;
    font-family: "logo";
    font-weight: bold;
}
.logo p:nth-child(2){
    color: red;
    font-size: 18px;
    font-family: "logo";
    font-weight: bold;
}
.linkNavBar{
    color: white;
    transition: all ease .2s;
}
.linkNavBar:hover{
    color: white;
    transform: scale(1.1);
}