@font-face{
    font-family: "logo";
    src: url('../fonts/bigshoulderstext_medium.ttf') format('trueType');
}
@font-face{
    font-family: "k-medium";
    src: url('../fonts/keepCalm_medium.ttf') format('trueType');
}