<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
</head>
<body>

	<h1 th:text="${titulo}"></h1>

	<form th:action="@{/form}" th:object="${cliente}" method="post">
		<table>
			<tr>
				<td>nombres</td>
				<td><input type="text" th:field="*{nombre}" /></td>
				<td> <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></span> </td>
			</tr>
			<tr>
				<td>apellidos</td>
				<td><input type="text" th:field="*{apellido}" /></td>
				<td> <span th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></span> </td>
			</tr>
			<tr>
				<td>email</td>
				<td><input type="email" th:field="*{email}" /></td>
				<td> <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span> </td>
			</tr>
			<tr>
				<td> <input type="submit" value="Crear Cliente" /> </td>
			</tr>
		</table> 
	</form>

</body>
</html>